
<div class="container">
<div class="margin-top">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand"></a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="phone" [(ngModel)]="phone">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="getStudentByNumber(phone)">Search</button>
          </form>
          
      </nav>
  </div>
  <div *ngIf="invalidPhoneMsg">{{invalidPhoneMsg}}</div>


    <table class="table">
      <tr>
      <th>Course Photo</th>
      <th>Course Name</th>
      <th>Course Score</th>
      <th>Teacher evaluation</th>
      </tr>
      <tr *ngFor=" let course of courses">
          <td><img [src]="course.courseId.img" width="50px" alt=""></td>
         
          <td>{{ course.courseId.name }}</td>
          <td><ng-container *ngFor=" let score of scoreTab" >
            <span *ngIf="course.courseId._id == score.enrollmentId.courseId 
            && course.studentId._id == score.enrollmentId.studentId
            ">{{score.score}}</span>
          </ng-container></td>
          <td><ng-container *ngFor=" let score of scoreTab" >
            <span *ngIf="course.courseId._id == score.enrollmentId.courseId 
            && course.studentId._id == score.enrollmentId.studentId
            ">{{score.evaluation}}</span>
          </ng-container></td>
       
         
      </tr>
      </table>
  </div>
